.sidebar {
  background-color: $color-primary;
  grid-row: 1/-1;
  grid-column: sidebar-start / sidebar-end;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-btn {
    position: sticky;
    top: 4rem;
    left: 0;
    border: none;
    border-radius: none;
    width: 4.5rem;
    height: 2px;
    background-color: #fff;
    //margin-top: 4rem;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 4.5rem;
      height: 2px;
      background-color: #fff;
    }

    &::before {
      transform: translateY(-1.5rem);
    }
    &::after {
      transform: translateY(1.3rem);
    }
    @media only screen and (max-width: $bp-large) {
      position: sticky;
      top: 0;
      left: 0;
      margin-top: 0;
      margin-right: 3rem;
      &::before {
        transform: translateY(-1.2rem);
      }
      &::after {
        transform: translateY(1rem);
      }
    }
  }
}
